extends layout

block content
    -var editHref = '/notes/edit?key=' + note.key;
    -var deleteHref = '/notes/destroy?key=' + note.key;


    div.row
        div.col-xs-12
            h3=note.title
            p=note? note.body: ''
            p Key: #{note.key}
        if note.key
            div.row
                div.btn-group.col-sm-12
                    a.btn.btn-default(href=deleteHref role='button') Delete
                    a.btn.btn-default(href=editHref role='button') Edit